/*Device = small*/
@media only screen and (max-width: 300px) {
  body {
    background-color: red;
   }
   #medium {
     display: none;
   }
   #large {
    display: none;
  }
  }


/*Device = medium*/
@media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: green;
  }
  #small {
    display: none;
  }
  #large {
   display: none;
 }
}

/*Device = large*/
@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
  #small {
    display: none;
  }
  #medium {
   display: none;
 }
}